<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackingProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EditProfilActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfilActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Grafik"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LocationOut"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Absen_keluar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Upload"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver android:name=".NotificationReceiver"/>
    </application>

</manifest>